<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.back.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionEmpleadosServlet</servlet-name>
        <servlet-class>org.back.servlets.GestionEmpleadosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionProveedoresServlet</servlet-name>
        <servlet-class>org.back.servlets.GestionProveedoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionSupermercadoServlet</servlet-name>
        <servlet-class>org.back.servlets.GestionSupermercadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionSupermercadoServlet</servlet-name>
        <servlet-class>org.back.servlets.GestionSupermercadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionSubastasServlet</servlet-name>
        <servlet-class>org.back.servlets.GestionSubastasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirArchivosServlet</servlet-name>
        <servlet-class>org.back.servlets.SubirArchivosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionEmpleadosServlet</servlet-name>
        <url-pattern>/GestionEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionSupermercadoServlet</servlet-name>
        <url-pattern>/GestionSupermercado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionProveedoresServlet</servlet-name>
        <url-pattern>/GestionProveedoresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionSubastasServlet</servlet-name>
        <url-pattern>/GestionSubastasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirArchivosServlet</servlet-name>
        <url-pattern>/SubirArchivos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/errores/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errores/error500.jsp</location>
    </error-page>
</web-app>
